openai
tiktoken

# LangChain 계열
langchain
langchain_core
langchain_community
langchain_google_genai
langchain_ollama
langchain_openai
langchain_huggingface
langchain_tavily
langgraph

# RAG
sentence_transformers
ragas
sacrebleu

tavily-python
peft
accelerate
datasets
huggingface_hub
trl
transformers==4.41.2
bitsandbytes

ninja
packaging

seaborn
pandas

rich

jsonlines

beautifulsoup4
